body {
    background-image: url("./starry.gif");
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
    font-family: 'Dancing Script', cursive;;
}
 

#form-container{

    background-color: wheat;
    color: black;
    padding: 20px;
    border-radius: 25px;
}


#form-container h2 {

    text-align: center;
    margin-top: 0;
}





