body {
    background-image: url("./starry.gif");
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
    font-family: 'Dancing Script', cursive;;
}

h1 {
    font-weight: bold;
    font-size: 50px;
}

li {
    font-size: 25px;
    list-style: url("./star.png");
}

button :hover {
    color: yellow;
}
